:root {
  --blue: #457b9d;
  --red: #e43e40;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  color: #333;
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

/* Components */

.textbox input {
  border: none;
  display: block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
  border: 1px solid #ccc;
}

.textbox label {
  display: block;
  margin-bottom: 5px;
}

.textbox .error {
  display: inline-block;
  font-size: 80%;
  margin-top: 3px;
  color: var(--red);
}

.form .textbox {
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  border: none;
  min-width: 70px;
}

.btn-primary {
  color: #fff;
  background-color: var(--blue);
}

.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.btn[disabled] {
  opacity: 1;
  cursor: default;
  background: #ccc;
}

.alert {
  background: var(--red);
  padding: 10px 15px;
  text-align: center;
  border-radius: 4px;
  color: white;
  width: 100%;
}

/* Login Page */

.login-page {
  width: 400px;
  margin: 60px auto 0;
}

.login-page h1 {
  text-align: center;
}

.login-page .alert {
  margin-bottom: 10px;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
}

.header__title {
  margin: 0;
  padding-left: 100px;
}

.header__username {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

/* Homepage */

.home-page {
  text-align: center;
  padding: 20px;
}
